html {
    width: 1000px;
    height: 600px;
}
* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.window > * {
    display: inline-block;
    vertical-align: middle;
}

.picture {
    margin-right: -5px;
    width: 600px;
    height: 600px;
    background-image: url("../images/Screen\ Shot\ 2019-11-25\ at\ 12.00.07\ PM.png");
    background-size: cover;
}

.sidebar {
    margin: 0;
    width: 250px;
    height: 600px;
    position: relative;
    border: 1px solid gray;
    font-size: 13px;
}

.sidebar-header {
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid gray;
}

.sidebar-header > * {
    display: inline-block;
    vertical-align: middle; 
}

.profile-pic {
    background-image: url(../images/10731800_1493307807620537_1378917932_a.jpg);
    background-size: cover;
    /* background-size: cover keeps the aspect ratio, but resizes to fit */
    width: 32px;
    height: 32px;
}

.postdate {
    padding-left: 60px;
    margin-top: 10px;
    color: gray;
}

.follow a {
    text-decoration: none;
}

.moreoptions {
    float: right;
    margin-top: 5px;
}

.moreoptions a {
    text-decoration: none;
}

.commentbox {
    height: auto;
}

.commentbox > * {
    display: inline-block;
}

.captionbox {
    padding: 10px;
    height: auto;
    border-bottom: 1px solid lightgray;
}

.captionbox .username {
    font-weight: bold;
    display: inline;
}

.commentbox > * {
    display: inline-block;
}


.navwrapper {
    width: 250px;
    position: absolute;
    bottom: 10px;
    line-height: 25px;
}

.navwrapper > * {
    margin-left: 15px;
    margin-right: 15px;
}

.actions a {
    color: gray;
    font-size: 25px;
    margin: 5px;

}

.likes {
    font-weight: bold;
}

.bookmark {
    float: right;
}

.exactpostdate {
    font-size: 12px;
    color: gray;
}




