* {
    box-sizing: border-box;
}

div {
    border-width: 5px;
    border-style: solid;
}

.parent {
    border-color: #ff8800;
    display: flex;
    justify-content: flex-end;
}

.child {
    border-color: #ffee00;
    height: 150px;
    width: 150px;
}