* {
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
}

body > * {
    width: 100%;
}

header {
    height: 100px;
    background-color: red;
}

.wrapper {
    /* height: 100%; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
}

nav {
    height: 80px;
    background-color: orange;
}

section {
    /* height: 80%; */
    flex: 1 1 auto;
    background-color: purple;
    overflow-y: auto;
    background-image: url("../images/pink-waterlily-flower-in-full-bloom-921703.jpg");
    background-size: cover;
}

aside {
    flex: 0 0 auto;
    height: 20%;
    background-color: blue;
}

/* footer {
    height: 100%; 
    background-color: green;
} */

/* Media Queries go at the bottom of the cascade.

    We want to add styles that are further down the .css file. 
*/

@media screen and (min-width: 600px) {
    
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .wrapper > * {
        height: 100%;
        /* width: 100%; */
    }

    header {
        background-color: blue;
    }
    nav {
        background-color: yellow;
        width: 25%;
    }
    section {
        background-color: black;
        width: 50%;
    }
    
    aside {
        background-color: gray;
        width: 25%;
    }

}

@media screen and (min-width: 800px) {
    header {
        background-color: purple;
    }
    nav {
        background-color: white;
    }
    section {
        background-color: orangered;
    }
    
    aside {
        background-color: brown;
    }
}












